/*
font-family: "DM Sans", sans-serif;
font-family: "Newsreader", serif;

*/

body {
    font-family:"DM Sans", sans-serif;
}

h1 {
    font-family: "Newsreader", serif;
    text-transform: uppercase;
}

h2 {
    font-family: "Newsreader", serif;
    text-transform: uppercase;
}

header{
    background-color:#02111B;
    color: #E0DDCF;
    text-align: center;
    padding: 5em;
}

nav a {
    color: white;
}

h1 {
    color: #02111B;
}

.intro h1 {
  font-family: "DM Serif Display", serif;
  font-size: medium;
}

.hours {
    background-color: #02111B;
    color: #E0DDCF;
    text-align: center;
    padding: 3em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;
}
.headlines {
    margin-left: 4em;
}

.breads {
    text-align: left;
    margin-right: 1em;
    margin-left: 1em;
}
.breaking-news {
    text-align: center;
}

h3 {
    font-weight: bold;
    font-family: "Newsreader", serif;
    font-style: italic;
    font-size: 20px;
}

.quote {
      max-width: 250px;
    margin: 0 auto;        
    padding: 15px;
}

footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}